@charset "utf-8";
/* CSS Document */

* {
	font-size: large;
	font-family: Arial;
}
	.italics {
	font-style: italic;
	color: #090;
}
    .underline {
	text-decoration: underline;
	color: #090;
}
    .smallCaps {
	color: #090;
	font-variant: small-caps;
}
    .allCaps {
	color: #090;
	text-transform: uppercase;	
}

    .superScript {
	color: #090;
	position: relative;
	top: -0.5em;
	font-size: 80%;		
}
.bold {
	font-weight: bold;
}
.charspacing {
	letter-spacing: 10px;
}
.charwidth {
	font-stretch: extra-expanded;
}
/* Colour scheme */

	.red {
	color: #F00;
}
	.blue {
	color: #30F;
}
	.green {
	color: #090;
}
	.cyan {
	color: #3CC;
}
	.magenta {
	color: #F39;
}
	.yellow {
	color: #FC0;
}
	.black {
	color: #000;
}

